.ampize-header {
    top: 0px;
    height: 80px;
    width: 100%;
    padding: 20px 0px;
    position: fixed;
    backface-visibility: hidden;
    transform: translateY(0%);
    transition: all .4s ease;
    background: #fff;
    z-index: 1000;
}

.ampize-header a {
    text-decoration: none;
}

@media only screen and (max-width: 52rem) {
    .ampize-header {
        height: 60px;
    }
    .ampize-nav-left {
        flex: 1;
    }
    .ampize-menu-logo {
        width: auto;
        flex: 1;
    }
}
